campus-aid-webg-firebase-adminsdk-fbsvc-d6b27736e3.json

campusaid-afe4b-firebase-adminsdk-i2di4-4484b29e45.json

linguo-cbb63-firebase-adminsdk-9earb-832e97d49c.json

song-69f15-firebase-adminsdk-igbek-26774242e2.json

venv
.venv
env

firebase_course_upload.logc